*, *::after, *::before {
    box-sizing: border-box;
  }
  
  :root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
    --square-mark-size: calc(var(--cell-size) * .8);
  }
  
  body {
    margin: 0;
    background-color: lightgreen;
  }
  
  .board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, auto)
  }
  
  .cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid brown;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .cell.x,
  .cell.circle,
  .cell.triangle {
    cursor: not-allowed;
  }
  
  .cell.x::before,
  .cell.x::after,
  .cell.circle::before,
  .cell.cell.triangle::before {
    background-color: black;
  }
  
  .board.x .cell:not(.x):not(.circle):not(.triangle):hover::before,
  .board.x .cell:not(.x):not(.circle):not(.triangle):hover::after,
  .board.circle .cell:not(.x):not(.circle):not(.triangle):hover::before,
  .board.triangle .cell:not(.x):not(.circle):not(.triangle):hover::before {
    background-color: lightgrey;
  }
  
  .cell.x::before,
  .cell.x::after,
  .board.x .cell:not(.x):not(.circle):not(.triangle):hover::before,
  .board.x .cell:not(.x):not(.circle):not(.triangle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
  }
  
  .cell.x::before,
  .board.x .cell:not(.x):not(.circle):not(.triangle):hover::before {
    transform: rotate(45deg);
  }
  
  .cell.x::after,
  .board.x .cell:not(.x):not(.circle):not(.triangle):hover::after {
    transform: rotate(-45deg);
  }
  
  .cell.circle::before,
  .cell.circle::after,
  .board.circle .cell:not(.x):not(.circle):not(.triangle):hover::before,
  .board.circle .cell:not(.x):not(.circle):not(.triangle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }

  .cell.triangle::before,
  .cell.triangle::after,
  .board.triangle .cell:not(.x):not(.circle):not(.triangle):hover::before,
  .board.triangle .cell:not(.x):not(.circle):not(.triangle):hover::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
  }
  
  .cell.circle::before,
  .board.circle .cell:not(.x):not(.circle):not(.triangle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
  }
  
  .cell.circle::after,
  .board.circle .cell:not(.x):not(.circle):not(.triangle):hover::after {
    width: calc(var(--mark-size) * .6);
    height: calc(var(--mark-size) * .6);
    background-color: lightgreen;
  }

  .cell.triangle::before,
  .board.triangle .cell:not(.x):not(.circle):not(.triangle):hover::before {
    width: var(--square-mark-size);
    height: var(--square-mark-size);
  }
  
  .cell.triangle::after,
  .board.triangle .cell:not(.x):not(.circle):not(.triangle):hover::after {
    width: calc(var(--square-mark-size) * .6);
    height: calc(var(--square-mark-size) * .6);
    background-color: lightgreen;
    border-left: 5px solid transparent;
  }
  
  .winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
  }
  
  .winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
  }
  
  .winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
  }
  
  .winning-message.show {
    display: flex;
  }